main 
{
  border: 2px solid darkslategray;
  background-color: white;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  vertical-align: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: lightblue;
  height: 350px;
  width: 700px;
  justify-content: space-evenly;
}

container {
  justify-content: space-evenly;
  display: flex; /* or inline-flex */
}

button {
  background-color: lightblue; /* Green */
  border: none;
  border-radius: 12px;
  color: linen;
  padding: 10px 20px;
  text-align: center;
  text-decoration: bold;
  display: inline-block;
  font-size: 16px;
  font-family:  "Georgia", monospace;
}

#line { 
  width: 80%;
  color: lightblue;
  }