main 
{
  border: 2px solid darkslategray;
  background-color: white;
  max-height: 150vh;
  margin: auto;
  flex-direction: column;
  vertical-align: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: lightblue;
  padding: 20px, 20px;
  width: 600px;
  justify-content: space-evenly;
  font-family:  "Verdana", monospace;
}

p{
margin: 20px;
}



body {
background-image: url("back.png");
margin: 50px;
}

container {
  justify-content: space-evenly;
  display: flex; /* or inline-flex */
}

button {
  background-color: lightblue; /* Green */
  border: none;
  border-radius: 12px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: bold;
  display: inline-block;
  font-size: 16px;
  font-family:  "Verdana", monospace;
}

#line { 
  width: 80%;
  color: black, 12px;
  }